[Pipeline]
pipeline = cortex_xdr > local_file

[General]
output_format = json_gz
state_file_path = /tmp/sdc_state.json
log_file_path = /tmp/sdc_cortex_xdr.log
log_level = INFO

[CortexXDR]
cortex_xdr.initial_collection_timestamp = 2024-01-01 00:00:00
cortex_xdr.api.fqdn = mock-api.xdr.com
cortex_xdr.api.key_id = MOCK_API_KEY_ID
cortex_xdr.api.key = MOCK_API_KEY
cortex_xdr.api.xql_query_template_alerts = dataset = xdr_data | filter _time > \'{start_time}\' and _time <= \'{end_time}\' | fields * | limit 5

[LocalFile]
local_file.base_path = /tmp/sdc_output_cortex_xdr
local_file.max_records_per_file = 10000
local_file.max_file_size_mb = 100


